.home_page_main_container {

}

/*Sliders*/

.card {
    height: 700px;
}

.slider_background1 {
    height: 700px;
    background-image: url("../../../public/assets/0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slider_background2 {
    height: 700px;
    background-image: url("../../../public/assets/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slider_background3 {
    height: 700px;
    background-image: url("../../../public/assets/2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slider_background4 {
    height: 700px;
    background-image: url("../../../public/assets/4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slider_background5 {
    height: 700px;
    background-image: url("../../../public/assets/5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.card_body {
    position: absolute;
    top: 180px;
    left: 0px;
    height: 100px;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.mlrentalLogo {
    height: 120px;
    margin: 0 0 0 50px;
    padding: 0;
}

.card_mlrental {
    width: fit-content;
    font-size: var(--textsize1);
    color: var(--color11);
    margin: 0 0 0 100px;
    border-bottom: 1px solid var(--color77) ;
}

.card_body_h3 {
    font-size: var(--title1);
    font-weight: 700;
    color: var(--color00);
    margin: 0px 0 18px 100px;
}

.card_body_par {
    font-size: var(--textsize3);
    color: var(--color00);
    margin: 0 0 0 100px;
    text-align: justify;
}

.white_button_slider {
    width: 120px;
    height: 44px;
    background-color: var(--color77);
    color: var(--color00);
    font-size: var(--textsize1);
    font-weight: 200;
    border: none;
    border-radius: 25px;
    margin: 32px 0 0 100px;
    cursor: pointer;
}

.white_button_slider:hover {
    color: var(--color00);
    background-color: transparent;
    border: 1px solid var(--color77);
}

/*-------------------*/


.home_top_container {
    width: 100%;
}

.home_top_banner {
    width: 100%;
}

.backg1 {
    position: absolute;
    width: 100%;
    height: 700px;
    margin: 0;
    z-index: 1;
}

.home_title_container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 700px;
    margin: 0;
    z-index: 1;
}



.insideBuble {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin: 0px 0px 0 0px;
    border: 3px solid var(--color00);
    border-radius: 32px;
}

.home_title {
    padding: 0;
    text-align: center;
    font-family: "futuraLtBt";
    font-style: normal;
    font-weight: bolder;
    max-width: 100%;
    font-size: var(--title1);
    font-weight: bolder;
    color: var(--color00);
    margin: 32px 0 24px 0;
}

.home_top_paragraph {
    color: var(--color00);
    font-family: "futuraLtBt";
    font-size: var(--textsize1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
    text-align: justify;
    margin: 0px 32px 32px 32px; 
}

.white_button_container {
    text-align: center;
}

.white_button_buble {
    width: 120px;
    height: 44px;
    background-color: var(--color77);
    color: var(--color00);
    font-size: var(--textsize1);
    font-weight: 200;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.white_button_buble:hover {
    color: var(--color00);
    background-color: transparent;
    border: 1px solid var(--color77);
}

.home_middle_container {
    position: relative;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0 0 0;
}

.extrapayImage {
    height: 140px;
    border-radius: 32px;
}

/*----------------------------------------------*/

.carousel_main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    /* background-image: url("../../../public/assets/base2.png"); */
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 1;
}

.carousel_title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 100px 0 100px 0;
    
}

.carousel_title {
    margin: 0px 0 0px 0;
    color: var(--color00);
    text-align: left;
    font-family: "futuraLtBt";
    font-size: var(--title1);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 20px 0px;
}


.carousel_paragraph {
    color: var(--color00);
    font-family: "futuraLtBt";
    font-size: var(--textsize1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 70%;
    text-align: justify;
    margin: 0 0 32px 0px;
}


/*--------------------Second Slider---------------------------*/
.second_card {
    height: 500px;
}

.second_slider_background1 {
    height: 90%;
    background-image: url("../../../public/assets/WR14.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 0 0 70px;
}
.second_slider_background2 {
    height: 90%;
    background-image: url("../../../public/assets/RMO200G.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 0 0 70px;
}
.second_slider_background3 {
    height: 90%;
    background-image: url("../../../public/assets/AEMC3731.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 0 0 70px;
}
.second_slider_background4 {
    height: 90%;
    background-image: url("../../../public/assets/IBEX2000.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 0 0 70px;
}
.second_slider_background5 {
    height: 90%;
    background-image: url("../../../public/assets/AEMCDTR8510.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 0 0 70px;
}
.second_slider_background6 {
    height: 90%;
    background-image: url("../../../public/assets/puntas.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 0 0 70px;
}
.second_slider_background7 {
    height: 90%;
    background-image: url("../../../public/assets/ALROCMF360.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 0 0 70px;
}
.second_slider_background8 {
    height: 90%;
    background-image: url("../../../public/assets/MEGGERS1-1068.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 0 0 70px;
}
.second_slider_background9 {
    height: 90%;
    background-image: url("../../../public/assets/AEMC6472.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 0 0 70px;
}
.second_slider_background10 {
    height: 90%;
    background-image: url("../../../public/assets/AEMC6250.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 0 0 70px;
}

.second_card_body {
    position: absolute;
    top: 480px;
    left: 0px;
    height: 100px;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 70px;
    padding: 0;
}

.second_card_body_h3 {
    font-size: var(--textsize3);
    font-weight: 400;
    color: var(--color00);
    margin: 0px 0 0 0px;
    text-align: center;
}


/*-------------------------*/

.home_middle_title {
    margin: 0px 0 0px 0;
    color: var(--color00);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: var(--title1);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home_middle_paragraph {
    color: var(--color00);
    font-family: "futuraLtBt";
    font-size: var(--textsize1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    text-align: justify;
    margin: 0px 0 0 0; 
}

/*------------------------------------*/

.backg2_container {
    background-image: url("../../../public/assets/base2.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.howtorent_container {
    display: flex;
    justify-content: space-evenly;
}

.back2_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 85vh;
    z-index: 1;
}

.back2_title_container {
    height: 500px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0  0 0 60px;
    z-index: 20;
}

.howtorent_title {
    margin: 100px 0 36px 0;
    color: var(--color00);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: var(--title1);
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}



.back2_steps_container {
    position: relative;
}


/* ---------------------- home carousel ------------------------------------------------ */

.home_carousel_container {
    height: 50%;
    background: var(--color55);

}

.home_carousel_title {
    margin: 0 0 0px 0;
    color: var(--color00);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: var(--subttitle3);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media(max-width: 830px) {
    .card_mlrental,
    .card_body_par {
        display: none;
    }
    .card_body {
        justify-items: center;
        align-items: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card_body_h3 {
        font-size: var(--subttitle1);
        max-width: 90%;
        text-align: center;
        margin: 0;
    }
    .white_button_slider {
        margin: 24px 0 0 0;
    }
    .mlrentalLogo {
        margin: 0;
    }
}

@media(max-width: 300px) {
    .mlrentalLogo {
        width: 120px;
        height: 70px;
    }
    .card_body_h3 {
        font-size: var(--textsize3);
    }
}

/*---------------------------------*/
@media (max-width: 1050px) {
    .home_title_container {
        flex-direction: column;
        height: 900px;
    }
    .backg1 {
        height: 900px;
    }
    .home_title {
        font-size: var(--subttitle1);
    }
}

@media (max-width: 560px) {
    .home_middle_container {
        max-width: 90%;
        
    }
    .insideBuble {
        border: none;
        max-width: 90%;
    }
}

@media (max-width: 305px) {
    .home_title_container {
        height: 1000px;
    }
    .backg1 {
        height: 1000px;
    }
    .extrapayImage {
        display: none;
    }
    .home_title {
        margin: 0 0 8px 0;
    }
    .home_top_paragraph {
        margin: 0 32px 8px 32px;
    }
}

@media (max-width: 240px) {
    .home_title {
        font-size: var(--textsize3);
    }
    .home_title_container,
    .backg1 {
        height: 1200px;
    }
}
/*---------------------------------*/
/*-------------------------------------------------*/
@media (max-width: 305px) {
    .carousel_title {
        font-size: var(--subttitle1);
    }
}


@media (max-width: 240px) {
    .carousel_title {
        font-size: var(--textsize3);
    }
}
/*---------------------------------------------------*/