.us_top_section_main_container {

}

.us_top_section_image_container {
    width: auto;
    height: 80vh;
    background-position: center;
    background-color: var(--color55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: flash 2.5s infinite alternate;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
    }
    50% {
        filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 1));
    }
    100% {
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
    }
}

.mlrentalLogo {
    width: auto;
    height: 25vh;
    animation: glow 2s infinite alternate;
}

/*-------------------------------------*/


.us_lower_section_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.us_paragraph {
    margin: 0px 0px 0px 0px;
    text-align: center;
    color: var(--color11);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 40%;
}

.us_lower_section_characteristics_main_container {
    width: auto;
    height: 40vh;
    background-position: center;
    background-color: var(--color55);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 160px;
}

.us_lower_section_characteristics_main_container svg {
    height: 120px;
    width: 120px;
    color:  var(--color77);
}





.us_middle_section_cards_container {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: 0 0 48px 0;
}



@media (max-width: 960px) {
    .us_middle_section_cards_container {
        width: 90%;
    }
}

@media (max-width: 750px) {
    .us_lower_section_characteristics_main_container svg  {
        height: 120px;
        width: 120px;
    }
    .us_lower_section_main_container {
        height: 600px;
    }
    .us_top_title {
        margin: 100px 0 0 100px;
    }
}

@media (max-width: 690px) {
    .us_middle_section_cards_container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .us_top_section_image_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 510px) {
    .us_lower_section_characteristics_main_container {
        margin-top: 30px;
    }
}

@media (max-width: 400px) {
    .us_top_title {
        margin: 24px 0 0 16px;
    }
    .us_lower_section_characteristics_main_container svg {
        height: 80px;
        width: 80px;
        color: #18CAFF;
    }
}

@media (max-width: 310px) {
    .us_lower_section_characteristics_main_container svg {
        display: none;
    }
    .us_top_title {
        font-size: 36px;
    }
    .us_subtitle {
        font-size: 20px
    }
    .us_paragraph {
        font-size: 16px
    }
}

@media (max-width: 310px) {
    .us_top_title {
        font-size: 24px;
    }
}

@media (max-width: 270px) {
    .us_lower_section_main_container {
        height: 950px;
    }
}
