.us_top_section_main_container {
    background: url("../../../public/assets/base4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.us_top_section_image_container {
    width: auto;
    height: auto;
    padding: 100px 0 0 0;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: flash 2.5s infinite alternate;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
    }
    50% {
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.6));
    }
    100% {
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
    }
}

.mlrentalLogo {
    width: auto;
    height: 25vh;
    animation: glow 2s infinite alternate;
}

/*-------------------------------------*/


.us_lower_section_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.us_paragraph {
    margin: 0px 0px 0px 0px;
    text-align: justify;
    color: var(--color00);
    font-family: "futuraLtBt";
    font-size: var(--textsize3);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60%;
}

.us_lower_section_characteristics_main_container {
    width: auto;
    height: auto;
    background-position: center;
    display: flex;
    padding: 50px 0 100px 0;
}

.us_lower_section_characteristics_main_container svg {
    height: 100px;
    width: 100px;
    color:  var(--color77);
}

.card_values_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


@media (max-width: 900px) {
    .us_paragraph {
        width: 80%;
    }
    .card_values_container {
        flex-direction: column;
    }
}


@media (max-width: 480px) { 
    .mlrentalLogo {
        width: 80%;
        height: 80%;
    }
    .us_lower_section_characteristics_main_container svg {
        height: 70px;
        width: 70px;
    }
}