.card_gear_des_main_container {
    width: 70vw;
    height: 70vh;
    background-image: url("../../../public/assets/base6.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card_gear_des_title {
    color: var(--color00);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: var(--title1);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin: 50px 0 40px 0;
}

.card_gear_des_paragraph {
    display: block;
    margin: 10px 20px 10px 20px;
    color: var(--color00);
    text-align: justify;
    font-family: "futuraLtBt";
    font-size: var(--textsize3);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@media (max-width: 820px) {
    .card_gear_des_main_container {
        width: 90vw;
        height: 90vh;
    }
}

@media (max-width: 710px) {
    .card_gear_des_paragraph {
        font-size: var(--textsize3);
    }
    .card_gear_des_title {
        font-size: var(--subttitle1);
    }
}

@media (max-width: 590px) {
    .card_gear_des_title {
        font-size: var(--textsize3);
    }
}

@media (max-width: 425px) {
    .card_gear_des_main_container {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width: 330px) {
    .card_gear_des_main_container {
        width: 100vw;
        height: 100vh;
    }
    .card_gear_des_paragraph {
        font-size: var(--textsize1);

    }
}

@media (max-width: 255px) {
    .card_gear_des_title {

    }
}