header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
}

.header_nav_container {
    width: auto;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--sm);
    font-weight: bold;
    color: var(--color11);
    background: var(--color55);
    opacity: 1;
}

.a_logo {
    margin-left: 80px;
}

.header_logo_container {
    height: 75px;
    width: 280px;
    background: url("../../../public/assets/logo-mlrental-footer.png");
    background-size: cover;
}

.header_nav_ul {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0px 0px 0px 64px;
    padding: 0;
}


.header_nav_ul li {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 160px;
    height: 100%;
    padding-top: 0;
}

.header_nav_ul li:hover {
    background-color: var(--color44);
}

.header_nav_ul li a {
    text-decoration: none;
    padding: 24px 0 24px;
    font-family: "futuraLtBt";
    font-size: var(--textsize1);
    font-style: normal;
    color: var(--color00);
    font-weight: 200;
    line-height: normal;
    text-align: center;
}

.header_nav_ul li a:hover {
    color: var(--color77);
}

.header_nav_ul li .active_page {
    color: var(--color77);
}

/* This is for the menu when width < 960px */


.responsive_menu_list {
    width: 100%;
    height: 100%;
    background-color:  var(--color4);
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0;
    position: fixed;
    top: 100px;
}

.responsive_menu_list_item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  var(--color4);
    width: 100%;
    padding: 12px 0 12px 8px;
    /* border: solid 1px #FFF; */
}

.responsive_menu_list_item_anchor {
    text-decoration: none;
    color: #FFF;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

.menu_hided {
    display: none;
}

/* 
@media(max-width: 1200px) {
    #cotiza_header_button {
        width: 150px;
    }
}

@media(max-width: 1075px) {
    #cotiza_header_button {
        width: 85px;
        border-radius: 10px;
    }
}

@media(max-width: 960px) {
    .header_nav_ul,
    .contact_header_button_container {
        display: none;
    }
    .a_logo {
        margin-left: 0px;
    }
}

@media(max-width: 830px) {
    header {
        width: 100vw;
    }
}


@media(min-width: 960px) {
    .responsive_menu_container {
        display: none;
    }
}
 */
