.testgear_article_main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
}

.testgear_article_container {
    margin: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color44);
    border-radius: 8px;
}

.testgear_image_container {
    display: flex;
    justify-content: center;
}

.testgear_image {
    width: 200px;
    object-fit: cover;
}

.testgear_name {
    margin: 0;
    color: var(--color00);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: var(--textsize3);
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.testgear_brand,
.testgear_model {
    margin: 0;
    color: var(--color22);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: var(--textsize3);
    font-style: normal;
    font-weight: 200;
    line-height: normal; 
}

.testgear_buttons_container {
    display: flex;
    justify-content: space-around;
    margin: 0 16px 16px 16px;
}

.white_button {
    width: 100px;
    height: 36px;
    padding: 5px;
    border-radius: 16px;
    border: 0.888px solid  var(--color77);
    color:  var(--color00);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: var(--textsize1);
    line-height: normal;
    background: var(--color77);
    cursor: pointer;
}

.white_button:hover {
    background-color: transparent;
    border:  var(--color77) solid 1px;
}

.white_button a {
    color:  var(--color00);
    font-family: "futuraLtBt";
    font-size: var(--textsize1);
    font-style: normal;
    text-decoration: none;
}

.white_button a:hover {
    background-color: transparent;

}

.testgear_show_description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.testgear_hide_description {
    display: none;
}

.card_gear_des_close_icon {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    color:  white;
    width: 44px;
    height: 44px;
    z-index: 55;
}

@media (max-width: 340px) {
    .testgear_article_container {
        width: 85%;
    }
    .testgear_name {
        font-size: var(--textsize3);
    }
    .testgear_brand,
    .testgear_model {
        font-size: var(--textsize1);
    }
    .testgear_description_button,
    .testgear_eett_button,
    .testgear_eett_button a {
        font-size: var(--textsize1);
    }
    .testgear_image {
        width: 75%;
    }
    .testgear_buttons_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0px 0px 0px 0px;
        height: 90px;
    }
    .white_button {
        width: 120px;
        height: 32px;
        padding: 1px;
    }
}
