.testgear_article_main_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 50%;
}

.testgear_article_container {
    margin: 18px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color55);
    border-radius: 0px;
}

.testgear_image_container {
    display: flex;
    justify-content: center;
}

.testgear_image {
    width: 250px;
    object-fit: cover;
}

.testgear_name {
    margin: 0;
    color: var(--color00);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.testgear_brand,
.testgear_model {
    margin: 0;
    color: var(--color22);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.testgear_buttons_container {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.testgear_description_button,
.testgear_eett_button  {
    height: 54px;
    color: var(--color00);
    font-family: "futuraLtBt";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background:  var(--color55);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 16px 0 0; 
    padding: 0;
}

.testgear_description_button:hover {
    background:  var(--color77);
}
.testgear_eett_button:hover  {
    background:  var(--color77);
}

.testgear_eett_button {
    border-radius: 0px 0px 0px 0px;
}

.testgear_eett_button a {
    color: var(--color00);
    font-family: "futuraLtBt";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.testgear_show_description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.testgear_hide_description {
    display: none;
}

.card_gear_des_close_icon {
    position: absolute;
    right: 20px;
    top: 80px;
    cursor: pointer;
    color:  white;
    width: 44px;
    height: 44px;
    z-index: 55;
}

@media (max-width: 435px) {
    .testgear_article_container {
        width: 85%;
    }
    .testgear_name {
        font-size: 24px;
    }
    .testgear_brand,
    .testgear_model {
        font-size: 18px;
    }
    .testgear_description_button,
    .testgear_eett_button,
    .testgear_eett_button a {
        font-size: 18px;
    }
    .testgear_image {
        width: 75%;
    }
}

@media (max-width: 750px) {
    .card_gear_des_close_icon {
        width: 36px;
        height: 36px;
        top: 68px;
        right: 4px;
    } 
}

@media (max-width: 300px) {
    .card_gear_des_close_icon {
        width: 32px;
        height: 32px;

    } 
}