.testgear_article_main_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 50%;
}

.testgear_article_container {
    margin: 18px;
    width: 380px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color44);
    border-radius: 0px;
}

.testgear_image_container {
    display: flex;
    justify-content: center;
}

.testgear_image {
    width: 200px;
    object-fit: cover;
}

.testgear_name {
    margin: 0;
    color: var(--color00);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: var(--subttitle1);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.testgear_brand,
.testgear_model {
    margin: 0;
    color: var(--color22);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: var(--subttitle1);
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.testgear_buttons_container {
    display: flex;
    justify-content: center;
    margin: 0 16px 16px 16px;
}

.white_button {
    width: 140px;
    height: 44px;
    padding: 5px;
    border-radius: 0px;
    border: 0.888px solid  var(--color77);
    color:  var(--color77);
    text-align: center;
    font-family: "futuraLtBt";
    font-size: var(--textsize1);
    font-style: normal;
    line-height: normal;
    background: transparent;
    cursor: pointer;
}

.white_button:hover {
    background-color: var(--color11);
    color:  var(--color55);
    border:  var(--color00) solid 1px;
}

.white_button a {
    color:  var(--color77);
    font-family: "futuraLtBt";
    font-size: var(--textsize1);
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}

.white_button a:hover {
    background-color: var(--color11);
    color:  var(--color55);
}

.testgear_show_description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.testgear_hide_description {
    display: none;
}

.card_gear_des_close_icon {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    color:  white;
    width: 44px;
    height: 44px;
    z-index: 55;
}

@media (max-width: 435px) {
    .testgear_article_container {
        width: 85%;
    }
    .testgear_name {
        font-size: 24px;
    }
    .testgear_brand,
    .testgear_model {
        font-size: 18px;
    }
    .testgear_description_button,
    .testgear_eett_button,
    .testgear_eett_button a {
        font-size: 18px;
    }
    .testgear_image {
        width: 75%;
    }
}

@media (max-width: 750px) {
    .card_gear_des_close_icon {
        width: 36px;
        height: 36px;
        top: 68px;
        right: 4px;
    } 
}

@media (max-width: 300px) {
    .card_gear_des_close_icon {
        width: 32px;
        height: 32px;

    } 
}