.footer_main_container {
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 540px;
    opacity: 1;
}

.back3 {
    position: absolute;
    width: 100%;
    height: 540px;
    margin: 0;
    z-index: 0;
}

.footer_nav_container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer_logo_container {
    margin-top: 40px;
    z-index: 2;
}

.logo_hvt_footer {
    height: 176px;
    margin-left: 32px;
}

.footer_central_container {
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
    width: 90%;

}

.footer_article_one,
.footer_article_two,
.footer_article_three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color00);
    text-align: center;
}

.footer_navlink {
    text-decoration: none;
    color: var(--color00);
    font-size: 16px;
}

.footer_navlink:hover {
    color: var(--color1);
    font-weight: 700;
}

.footer_central_container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
    width: 100%;
}

.footer_div_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_mini_logo {
    margin-right: 12px;
}

.botton_rights {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 34px;
    margin: 0;
    border-top: 1px solid #FFF;
    z-index: 2;
}

.botton_rights ul {
    list-style: none;
    color: #FFF;
    font-size: 14px;
    font-family: "futuraLtBt";
    padding: 16px 0 0 0;
    margin: 0 0 0 2%;
}

.anchor_to_my_profile {
    text-decoration: none;
    color: var(--color00);
    font-size: 14px;
    margin-left: 4px;
}


@media (max-width: 600px) {
    .botton_rights,
    .footer_article_one {
        display: none;
    }
    .logo_hvt_footer {
        height: 110px;
        margin-left: 0px;
    }
    .footer_central_container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 350px) {
    .footer_article_one {
        display: none;
    }
    .logo_hvt_footer {
        height: 80px;
    }
}