:root {
    /*More like the logo color*/
    --color4: #0078A7;
    --color5: #EAFEFF;
    --color2: #18CAFF;
    

    /* Paleta que me gusta:
    */
    --color00: #F2F2F2;
    --color11: #8C8C8B;
    --color22: #BFBEBD;
    --color33: #595958;
    --color44: #262626;
    --color55: #0D0D0D;

    /* Paleta según logo:
    */
    --color66: #1E3E59;
    --color77: #52B5F2;
    --color88: #30698C;
    --color99: #F2F2F2;

}

body {
    margin: 0;
    font-family: "FuturaLtBt";
}

.cards_slider_container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}